html,
body,
#root {
  margin: 0;
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

.app {
  height: 100%;
}

/* img {
  max-width: 100%;
} */

.header {
  padding: 0 1.3em;
  height: 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c6758;
}

.brand--name {
  font-size: 2.7rem;
}

.header--left {
  display: flex;
  column-gap: 4em;
}

a:link {
  color: #eef2e6;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #eef2e6;
}

/* mouse over link */
.header--left h1:hover {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* LANDING PAGE */

.landingPage {
  display: flex;
  justify-content: space-between;

  height: 87%;
  /* box-sizing: border-box; */
  /* height: 100%;
  width: 100%; */
}

.landing--image {
  width: 60%;
  object-fit: cover;
}

.landingPage span {
  align-self: center;
  /* padding: 0 auto; */
  width: 40%;
  text-align: center;
}

.shop--now--link {
  background-color: #1c6758;
  color: white;
  padding: 0.7em 0.7em;
  border-radius: 60px;
  font-size: 1.7rem;
  font-weight: bold;
  border: none;
}

.shop--now--link:hover {
  opacity: 0.85;
  cursor: pointer;
}

.main-container {
  display: flex;
  width: 100%;
}

.main-container img {
  width: 50%;
}

.main-container form {
  width: 100%;
}

/* PRODUCT SECTION STYLING */

img {
  width: 18em;
  object-fit: cover;
  height: 18em;
}

.object--fit {
  object-position: right;
}
