html,
body,
#root {
  margin: 0;
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

.app {
  height: 100%;
}

button:hover,
.shop--now--link:hover,
.fa-minus:hover,
.fa-plus:hover {
  opacity: 0.7;
  cursor: pointer;
}

button {
  width: 60%;
  color: white;
  font-weight: bolder;
  font-size: 1.1rem;
  border-radius: 8px;
  border: none;
  padding: 0.7em;
}

.header {
  padding: 0 1.3em;
  height: 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c6758;
}

.brand--name {
  font-size: 2.7rem;
}

.header--left {
  display: flex;
  column-gap: 4em;
}

li {
  list-style: none;
  font-size: 1.7rem;
}

a:link,
i {
  color: #eef2e6;
  text-decoration: none;
}

.fa-cart-shopping:hover {
  cursor: pointer;
}

/* visited link */
a:visited {
  color: #eef2e6;
}

/* mouse over link */
.header--left li:hover {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* CART MODAL */

.cart--modal {
  height: 70%;
  background-color: white;
  position: absolute;
  /* top: 0; */
  /* bottom: 0; */
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  padding-bottom: 2em;
  width: 33%;
  transition: transform 900ms ease-in;
  overflow-y: scroll;
}

.hidden {
  transform: translateX(90em);
  transition: transform 900ms ease-out;
}

.cart--modal h1 {
  margin-bottom: 1em;
}

.button--container {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  width: 100%;
  align-items: center;
}

.checkout--btn {
  background-color: #1c6758;
}

.close--cart--btn {
  background-color: #e14d2a;
}

/* MINI PRODUCT CARD */

.mini--product--card {
  width: 87%;
  height: 10em;
  max-height: 10em;
  display: flex;
  justify-content: center;
  column-gap: 1.4em;
  margin-bottom: 2em;
}

.mini--product--card img {
  width: 40%;
  min-width: 40%;
  height: 9em;
  object-fit: cover;
  /* align-self: center; */
}

.mini--name--price {
  width: 60%;
  /* height: 70%; */
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  align-items: center;
  justify-content: center;
}

.mini--name--price p,
.mini--name--price h3 {
  font-size: 1.2rem;
  margin: 0;
}

.add--remove--section {
  display: flex;
  align-items: center;
  column-gap: 1.5em;
  /* margin-top: 2em; */
}

.fa-plus,
.fa-minus {
  color: black;
  background-color: #e8e2e2;
  font-size: 1.2rem;
  padding: 0.4em;
}

/* LANDING PAGE */

.landingPage {
  display: flex;
  justify-content: space-between;

  height: 87%;
  /* box-sizing: border-box; */
  /* height: 100%;
  width: 100%; */
}

.landing--image {
  width: 60%;
  object-fit: cover;
}

.landingPage span {
  align-self: center;
  /* padding: 0 auto; */
  width: 40%;
  text-align: center;
}

.shop--now--link {
  background-color: #1c6758;
  color: white;
  padding: 0.7em 0.7em;
  border-radius: 60px;
  font-size: 1.7rem;
  font-weight: bold;
  border: none;
}

.main-container {
  display: flex;
  width: 100%;
}

.main-container img {
  width: 50%;
}

.main-container form {
  width: 100%;
}

.products--page {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));

  column-gap: 2em;
  row-gap: 3em;
  padding: 2em;
  height: 87%;
  /* background-color: rgba(0, 0, 0, 0.6); */
}

/* PRODUCT SECTION STYLING */

.product--card {
  padding: 1.5em 1em;
  border-radius: 8px;
  /* min-width: 25em; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  height: 70%;
}

.product--card img {
  width: 100%;
  object-fit: cover;
  height: 18em;
}

.object--fit {
  object-position: right;
}

.price--cart--section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  column-gap: 1em;
}

.price--cart--section p {
  width: 15%;
  text-align: center;
  font-size: larger;
  margin: 0;
}

.add--to--cart {
  background-color: black;
}

.remove--button {
  background-color: #1c6758;
}

/* CONTACT */

.contact--container {
  display: flex;
  justify-content: center;
  padding-top: 2em;
}

.fa-brands {
  color: black;
  font-size: 6rem;
  margin: 0.3em;
}
